{% extends 'base.html' %}

{% block content %}

       <style>
       textarea {
         font-family: Arial, sans-serif;
         font-size: 14px;
       }

     </style>    

<h1>{% block title %} Add New Recipe to RecipeKeeper {% endblock %}</h1>
    <form method="post">
        <label for="name">Recipe Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Recipe Name"
               value="{{ request.form['name'] }}"></input>
        <br>

        <label for="id">ID</label>
        <br>
        <input type="integer" name="id"
               placeholder="ID"
               value="{{ request.form['id'] }}"></input>
        <br>

        <label for="meal">Meal Type</label>
        <br>
        <input type="text" name="meal"
                  placeholder="Meal Type"
                  value="{{ request.form['meal'] }}"></input>
        <br>

        <label for="difficulty">Difficulty Rating 1-10</label>
        <br>
        <input type="integer" name="difficulty"
               placeholder="Difficulty"
               value="{{ request.form['difficulty'] }}"></input>
        <br>

        <label for="diet">Dietary Restrictions</label>
        <br>
        <input type="text" name="diet"
               placeholder="Dietary Restrictions"
               value="{{ request.form['diet'] }}"></input>
        <br>

        <label for="list">Ingredients List</label>
        <br>
        <textarea name="list"
                  placeholder="Ingredients List"
                  rows="10"
                  cols="60"
                  >{{ request.form['list'] }}</textarea>
        <br>

        <label for="steps">Steps</label>
        <br>
        <textarea name="steps"
                  placeholder="Steps"
                  rows="10"
                  cols="60"
                  >{{ request.form['steps'] }}</textarea>
        <br>

        <label for="time">Time</label>
        <br>
        <input type="integer" name="time"
               placeholder="Time"
               value="{{ request.form['time'] }}"></input>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}