{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Database Entries</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: blue;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1>Ingredients Database</h1>
<table>
  {% for item in items %}
  <tr>
    <li>Recipe id: {{ item[0] }} <br> {{ item[1] }}</li>
  </tr> 
  {% endfor %}
</table>
</body>
</html>

{% endblock %}