{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Database Entries</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        tr:hover {
            background-color: #3490c9;
            color: white
        }
        .recipe-name {
        font-size: 20px;
    }
    </style>
</head>
<body>
    
<table>

    {% if not items %}
    <script>
        alert("Empty database");
        </script>
    {% endif %}

    {% for item in items %}
    <tr>
            <b><span class="recipe-name">{{ item[1] }}</span></b><br>
            <span class="recipe-id">Recipe id: {{ item[0] }}<span><br>
            <span class="meal-type">Meal Type: {{ item[2] }}</span><br>
            <span class="rating">Difficulty Rating 1-10: {{ item[3] }}</span><br>
            <span class="diet">Dietary Restrictions: {{ item[4] }}</span><br>
            <span class="ingredients">Ingredients: {{ item[6] }}</span><br>
            <span class="directions">Directions: {{ item[8] }}</span><br>
            <span class="time">Time: {{ item[9] }}</span><br>
    </tr>
        <div>
            <a href="{{ url_for('change',id=item['id']) }}">Edit Recipe</a> 
        </div>
        <div>
            <a href="{{ url_for('delete',id=item['id']) }}">Delete Recipe</a> 
        </div>
        <hr>
    {% endfor %}
</table>
</body>
</html>

{% endblock %}