{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- </title>
    <style>
            .content {
                text-align: center;
                font-size: 50px;
                padding-top: 1%;
                padding-bottom: 2%;
                
        }
    </style>
</head>
<body>
    <div class="content">
        <main>COP4710<br>
            Database Systems<br>
            Professor Zhao<br>
            Cameron Brock
        </main>
    </div>
    <hr>
</body>
</html>
{% endblock %}