{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Database Entries</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: blue;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1>Recipe Database</h1>
<table>

    {% if not items %}
    <script>
        alert("Empty database");
        </script>
    {% endif %}

    {% for item in items %}
        <tr>
            <li>{{ item[1] }} <br>Recipe id: {{ item[0] }} <br>Meal Type: {{ item[2] }} <br>Difficulty Rating 1-10: {{ item[3] }} <br>Dietary Restrictions: {{ item[4] }} <br>
             Ingredients: {{ item[6] }} <br>
             Directions: {{ item[8] }} <br>Time: {{ item[9] }} </li> 
        </tr> 
        <div>
            <a href="{{ url_for('change',id=item['id']) }}">Edit Recipe</a> 
        </div>
        <div>
            <a href="{{ url_for('delete',id=item['id']) }}">Delete Recipe</a> <br> <br> <br>
        </div>
    {% endfor %}
</table>
</body>
</html>

{% endblock %}